<ion-view title="Tabs">
    <ion-slide-box on-slide-changed="slideHasChanged($index)">
        <ion-slide>
            <div class="box blue"><h1>BLUE</h1></div>
        </ion-slide>
        <ion-slide>
            <div class="box yellow"><h1>YELLOW</h1></div>
        </ion-slide>
        <ion-slide>
            <div class="box pink"><h1>PINK</h1></div>
        </ion-slide>
    </ion-slide-box>
    <div class="tabs tabs-icon-left">
        <a class="tab-item">
            <i class="icon ion-home"></i>Activity
        </a>
        <a class="tab-item">
            <i class="icon ion-home"></i>Game
        </a>
        <a class="tab-item">
            <i class="icon ion-home"></i>Auctions
        </a>
    </div>
</ion-view>